click==7.1.2
Cython==0.29.14
Flask==1.1.2
funcy==1.15
gensim==3.8.3
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
MarkupSafe==1.1.1
numpy==1.19.4
pandas==1.1.5
python-dateutil==2.8.1
pytz==2020.4
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
smart-open==4.0.1
threadpoolctl==2.1.0
Werkzeug==1.0.1
Flask-Classful==0.14.2
Unidecode==1.1.2
spacy==2.3.5
nltk==3.5
pandarallel==1.5.2