/* Taken from https://github.com/cpsievert/LDAvis */
/* Copyright 2013, AT&T Intellectual Property */
/* MIT Licence */

path {
  fill: none;
  stroke: none;
}

.xaxis .tick.major {
    fill: black;
    stroke: black;
    stroke-width: 0.1;
    opacity: 0.7;
}

.slideraxis {
    fill: black;
    stroke: black;
    stroke-width: 0.4;
    opacity: 1;
}

text {
    font-family: sans-serif;
    font-size: 11px;
}

/* IPython Notebook CSS to allow visualization to fit */
/* I'm open to a better way of accomplishing this goal... */
.container { width:1350px !important; }
/* This is for nbviewer's benefit since the above wasn't enough... */
.output_area { width:1450px !important; }


#relevantDocumentsPanel {
    background-color: rgb(31, 58, 82);
}


#totalContainer{
    background-color: coral;
}

#relevantDocumentPanel{
    width: 530;
    height: 530;
    margin-top: 100px;

}

mark {
    padding: 0px;
    background-color:yellow;
  }
#LDAvisContainer{
    
}

#mdsplotHeatMap{
    background-color: yellowgreen;
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;   
  }

  text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
  }

  text.axis-workweek {
    fill: #000;
  }

  text.axis-worktime {
    fill: #000;
  }


  /*Sankey diagram*/
  .node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }
  
  .node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
  }
  
  .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
  }
  
  .link:hover {
    stroke-opacity: .5;
  }