#toolbar_level {
    background-color: coral;
    padding: 20px
}


.bar {
  fill: #80cbc4;
}


line {
  stroke: gray;
}

line#limit {
  stroke: #2F4A6D;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

div#chartContainer{
  border: 3px solid #73AD21;
}
div#svgContainer{
  border: 3px solid #73AD21;
}
div#relevantDocuments {
  max-height: 60vh;
  font-size: small;
  overflow-y: scroll;
  border: 3px solid #73AD21;
}
div#keywordsContainer{
  overflow-x: scroll;
  overflow-y: scroll;
}
