<!--START OF MODALS -->
<!-- Modal rename topic (Model 1)-->
<div class="modal fade" id="renameTopic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rename Topic</h5>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        </button>
      </div>
      <div class="modal-body">
        <!--Edit topic id (<span id="renameTopicId"></span>) -->
        Name: <input type="text" id="renameTopicId" >
        <span hidden="hidden" id="idTopic"></span>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="rename_topic_button" data-dismiss="modal" >Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal  Rename topic model 2 (sankey)-->
<div class="modal fade" id="renameTopic2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rename Topic Model</h5>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        </button>
      </div>
      <div class="modal-body">
        <!--Edit topic id (<span id="renameTopicId"></span>) -->
        Name: <input type="text" id="renameTopicId2">
        <span  hidden="hidden" id="idTopic2"></span>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="rename_topic_button2" data-dismiss="modal" >Save changes</button>
      </div>
    </div>
  </div>
</div>





<!-- Split modals-->
<!--<div class="modal fade modal_full_screen" id="SplitTopicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<div class="modal fade " id="SplitTopicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog_full_screen" role="document" style='height: 80%'>
    <div class="modal-content model-content_full_screen" style='height: 80%'>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Topic Splitting</h5>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        </button>
      </div>
      <!--<div class="modal-body modal-body_full_screen" style='max-height: calc(100% - 120px); overflow-y: scroll'>-->
      <div class="modal-body " style=' overflow-y: scroll'>

        <!--<input type='text' name='somename' data-provide='slider' data-slider-ticks='[1, 2, 3]' data-slider-min='1' data-slider-max='3' data-slider-step='1' data-slider-value='3' >-->
        You are going to split the current selected topic: <span id="topic_to_split_name"></span>.  Please, for each new topic select the most relevant documents associated to them.

        <!--<div id="input"></div>      -->
        <div class="row" > <!--All the visualization must be placed in this row-->
        <!--

          <div class="col-4 border-right"  id="KeywordsPanel_TopicSplitting">
          </div>
        -->
          <!--
          <div class="col-4"  id="CentralPanelTopicSplitting" >
            <table id="CentralPanelTopicSplittingRow"  >     
            </table>         
          </div>   
          -->

          <div class="col-12"  id="DocumentsPanel_TopicSplitting" >
            <table id="tableRelevantDocumentsClass_TopicSplitting"  > <!-- class= "overflow-hidden table table-hover header-fixed"-->
              <thead>
              <tr>                          
                <th class="text-center" data-field="topic_perc_contrib" scope="col">%</th> <th class="text-center" data-field="text" scope="col">Document</th>
              </tr>
              </thead>    
            </table>         
          </div>    
        </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="apply_topic_splitting" class="btn btn-primary"data-dismiss="modal" >Split topic</button>

      </div>
    </div>
  </div>
</div>




<!-- Merge modals-->

<div class="modal fade" id="MergeModal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Topic Merging</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to merge topic: (<span class="merging_topic_1"></span>) with topic (<span class="merging_topic_2"></span>) ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  id="cancel_merging_2" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary"  id="apply_merging" data-dismiss="modal"  >Apply</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="MergeModal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Topic Merging</h5>
      </div>
      <div class="modal-body">
        You are going to merge the current selected topic (<span class="merging_topic_1"></span>) with another one.  Do you want to continue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel_merging" data-dismiss="modal">Cancel</button>
        <button type="button" id="continue_merging" DATA-DISMISS="modal" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="MergeModal_0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Topic Merging</h5>
      </div>
      <div class="modal-body">
        You need to select a topic first
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="MergeModal_new_design" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Topic Merging</h5>
      </div>
      <div class="modal-body">
        <span hidden="hidden" class="merging_topic_1"></span>
        From the list, select the topic with wich you want to merge the selected topic: <span id="merging_topic_1_name"></span>
       <!--Choose the topicgoing to merge the current selected topic (<span class="merging_topic_1"></span>) with another one.  Do you want to continue?-->
       <form id="selectTopicMergeForm">
        <select id="selectTopicMerge">
        </select>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel_merging" data-dismiss="modal">Cancel</button>
        <button type="button" id="apply_topic_merging"  data-dismiss="modal" class="btn btn-primary">Confirm Merge</button>
      </div>
    </div>
  </div>
</div>

<!--Modal to reverse changes (merging and splitting)-->
<div class="modal fade" id="ReverseModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Undo changes</h5>
      </div>
      <div class="modal-body">
        This action will reverse the last topic merging/topic splitting operation. Are you sure do you want to continue?
      </div>
      <div class="modal-footer">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="cancel_merging" data-dismiss="modal">Cancel</button>
          <button type="button" id="apply_reverse_topic_model"  data-dismiss="modal" class="btn btn-primary">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--END OF MODALS -->


<meta name="viewport" content="width=device-width, initial-scale=1.0">



<!-- ADD JQUERY-->

<script src="static/js/jquery.min.js"></script>  
<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->

<!-- ADD JS-->




<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js" ></script>
<!--<script src="static/js/mark.min.js" ></script> We are not using it anymore-->
<script src="static/js/d3.v5.min.js"></script>
<script src="static/js/sankey.js"></script>

<!--To create spreedsheets and  save it-->
<script src="static/js/xlsx.full.min.js"></script>
<script src="static/js/FileSaver.js"></script>




<!--Fontawesome-->
<link href="/static/fontawesome/css/fontawesome.css" rel="stylesheet">
<link href="/static/fontawesome/css/brands.css" rel="stylesheet">
<link href="/static/fontawesome/css/solid.css" rel="stylesheet">

<!--ADD CSS-->
<link rel="stylesheet" href="static/css/bootstrap-table.min.css">
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ ldavis_css_url }}">


<!--RANGE SLIDER-->

<link href="static/css/nouislider.css" rel="stylesheet">
<script src="static/js/nouislider.js"></script>

<!-- Plotly-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!---what, ocupo plotly? revisar-->

<!--for deep copy in JS-->
<script src="static/js/lodash.js"></script>  

<!--Splitting operation. Allow multiple check box-->
<!--<script src="/static/shift-select-multiple-checkboxes/jquery.checkbox-shift-selector.js"></script>-->

<!--Splitting operation. Input slider column-->
<!--https://www.jqueryscript.net/form/Highly-Customizable-Range-Slider-Plugin-For-Bootstrap-Bootstrap-Slider.html-->
<!--https://github.com/seiyria/bootstrap-slider-->

<link href="/static/bootstrap-slider/dist/css/bootstrap-slider.css" rel="stylesheet">
<script src="/static/bootstrap-slider/dist/bootstrap-slider.js"></script>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.js" integrity="sha512-tCkLWlSXiiMsUaDl5+8bqwpGXXh0zZsgzX6pB9IQCZH+8iwXRYfcCpdxl/owoM6U4ap7QZDW4kw7djQUiQ4G2A==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css" integrity="sha512-SZgE3m1he0aEF3tIxxnz/3mXu/u/wlMNxQSnE0Cni9j/O8Gs+TjM9tm1NX34nRQ7GiLwUEzwuE3Wv2FLz2667w==" crossorigin="anonymous" />
-->



<!--cross symbol for scenario 1 circles-->
<!--
<script src="https://d3js.org/d3-path.v2.min.js"></script>
<script src="https://d3js.org/d3-shape.v2.min.js"></script>
-->

<script src="/static/jquery-checkradios-master/js/jquery.checkradios.min.js"></script>
<link rel="stylesheet" href="/static/jquery-checkradios-master/css/jquery.checkradios.min.css"/>

<!-- Intro .js tour mode -->

<script src="/static/intro-js/intro.min.js"></script>
<link rel="stylesheet" href="/static/intro-js/introjs.min.css"/>


<div id={{ visid }}></div>




<script type="text/javascript">

var {{ visid_raw }}_data = {{ vis_json }};
var type_vis = {{type_vis}};
var topic_order = {{topic_order}};
var jsonData = {{vis_json}};


if(type_vis == 1){
  var new_circle_positions = {{new_circle_positions}} 
}


if(type_vis == 2){  
  var matrix_sankey = {{matrix_sankey}};  
  var jsonData_2 = {{vis_json_2|safe}};
  var topic_order_2 = {{topic_order_2}};
  
}


</script>



<div class="container-fluid">
  <div class="row" style="height: 100%"> <!--All the visualization must be placed in this row-->
    <div class="col-4 border-right"  id="BarPlotPanel" >  <!--LDAvisContainer-->
    </div>
    <div class="col-4 border-right "   id="CentralPanel"> <!-- "-->
    </div>
    <div class="col-4" id="DocumentsPanel">
      <script>
        if(type_vis === 1){
          
          var html = '<div id="DocumentsPanel_scenario_1"> <table  id="tableRelevantDocumentsClass_Model1" class= "table table-hover header-fixed"> <thead> <tr> <th class="text-center" data-field="topic_perc_contrib" scope="col">%</th> <th class="text-center" data-field="text" scope="col">Document</th> </tr> </thead> </table></div>';
          //add button fab
          //For the user study, the button to download data is disabled
          //html+='<div class="btn-group-fab" role="group" aria-label="FAB Menu"> <div> <button type="button" class="btn btn-main btn-primary has-tooltip" data-placement="left" title="Download data"> <i class="fa fa-download"></i> </button><button type="button" class="btn btn-sub btn-danger has-tooltip" data-placement="left" title="Download xlsx" id="export_to_csv"> <i class="fa fa-file-excel"></i> </button> <button type="button" class="btn btn-sub btn-warning has-tooltip" data-placement="left" title="Download CSV file"> <i class="fas fa-file-csv"></i> </button> </div> </div>'
          document.write(html)

        }
        if(type_vis === 2)
        //console.log("estoy aqui leyendo ijiji")
        //document.write('<button class="button" id="export_to_csv">Export data</button>')
        var html ='<div class="btn-group-fab" role="group" aria-label="FAB Menu"> <div> <button type="button" class="btn btn-main btn-primary has-tooltip" data-placement="left" id="export_to_csv" title="Download data"> <i class="fa fa-download"></i> </button><button type="button" class="btn btn-sub btn-danger has-tooltip" data-placement="left" title="Download xlsx" id="export_to_csv"> <i class="fa fa-file-excel"></i> </button> <button type="button" class="btn btn-sub btn-warning has-tooltip" data-placement="left" title="Download CSV file"> <i class="fas fa-file-csv"></i> </button> </div> </div>'
        document.write(html)

      </script>
    </div>
    </div>  
  </div>
</div>

<script>
  function LDAvis_load_lib(url, callback){
    var s = document.createElement('script');
    s.src = url;
    s.async = true;
    s.onreadystatechange = s.onload = callback;
    s.onerror = function(){console.warn("failed to load library " + url);};
    document.getElementsByTagName("head")[0].appendChild(s);
    
  }

  if(typeof(LDAvis) !== "undefined"){
     // already loaded: just create the visualization
     
     !function(LDAvis){
         new LDAvis("#" + {{ visid }}, {{ visid_raw }}_data);

     }(LDAvis);
  }else if(typeof define === "function" && define.amd){
     
     // require.js is available: use it to load d3/LDAvis
     require.config({paths: {d3: "{{ d3_url[:-3] }}"}});
     require(["d3"], function(d3){
        window.d3 = d3;
        LDAvis_load_lib("{{ ldavis_url }}", function(){
          new LDAvis("#" + {{ visid }}, {{ visid_raw }}_data);
        });
      });
  }else{
      // require.js not available: dynamically load d3 & LDAvis
     
      LDAvis_load_lib("{{ d3_url }}", function(){
           LDAvis_load_lib("{{ ldavis_url }}", function(){
                   new LDAvis("#LDAvisContainer", {{ visid_raw }}_data); //"#" + {{ visid }} 
              })
           });
  }
</script>

<script src="static/js/bootstrap-table.long.js"></script>


