<!-- Button trigger modal -->



<!-- Modal rename topic (Model 1)-->
<div class="modal fade" id="renameTopic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rename Topic</h5>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        </button>
      </div>
      <div class="modal-body">
        <!--Edit topic id (<span id="renameTopicId"></span>) -->
        Name: <input type="text" id="renameTopicId">
        <span hidden="hidden" id="idTopic"></span>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="rename_topic_button" data-dismiss="modal" >Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal  Rename topic model 2 (sankey)-->
<div class="modal fade" id="renameTopic2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rename Topic Model 2</h5>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        </button>
      </div>
      <div class="modal-body">
        <!--Edit topic id (<span id="renameTopicId"></span>) -->
        Name: <input type="text" id="renameTopicId2">
        <span  hidden="hidden" id="idTopic2"></span>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="rename_topic_button2" data-dismiss="modal" >Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Split modals-->
<script>
  function myFunction(){
    console.log("estoy en la funcion!!!!!!")
  }
</script>
<div class="modal fade" id="SplitModal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog"  role="document" >
    <div class="modal-content" id="modal_dialog_SplitModal_1">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Topic Splitting</h5>
      </div>
      <div class="modal-body">
        You are going to split the current selected topic (<span class="splitting_topic_1"></span>).  
        <button id="add_cart">Add to card</button>
        <ul id="output"></ul>        

      <form action="/action_page.php">
        <label for="quantity">Number of subtopics:</label>
        <input type="number" id="splitting_number_subtopics"  min="2" max="5", value="2"  onchange="myFunction()"> <!--myFunction should adapt the number of columns from the platform-->
      </form>
      <table  class="tableRelevantDocumentsClass_Split table table-hover" >
        <thead>
        <tr>
          <!--
            <th class="text-center" data-field="topic_perc_contrib" scope="col">Contribution</th>
            <th class="text-center" data-field="text" scope="col">Tweet</th>
            <th class="text-center">Uncategorized</th>
            -->
            <!--Create number of columns regarding the number of sub topics-->
            <script>
            for (const x of Array(parseInt(document.getElementById('splitting_number_subtopics').value)).keys()) {
              document.write('<th class="text-center" data-field="other" scope="col">Sub-topic</th>');

              
            }              
            </script>
        </tr>
        </thead>

    </table>    
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel_merging" data-dismiss="modal">Cancel</button>
        <button type="button" id="continue_merging" data-dismiss="modal" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>



<!-- Merge modals-->

<div class="modal fade" id="MergeModal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Topic Merging</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to merge topic: (<span class="merging_topic_1"></span>) with topic (<span class="merging_topic_2"></span>) ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  id="cancel_merging_2" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary"  id="apply_merging" data-dismiss="modal"  >Apply</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="MergeModal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Topic Merging</h5>
      </div>
      <div class="modal-body">
        You are going to merge the current selected topic (<span class="merging_topic_1"></span>) with another one.  Do you want to continue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel_merging" data-dismiss="modal">Cancel</button>
        <button type="button" id="continue_merging" DATA-DISMISS="modal" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="MergeModal_0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Topic Merging</h5>
      </div>
      <div class="modal-body">
        You need to select a topic first
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>




<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!--Add mark.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js" charset="UTF-8"></script>


<!--Add sankey.js-->

<script src="static/js/d3.v5.min.js"></script>
<script src="static/js/sankey.js"></script>


<script src="https://cdn.jsdelivr.net/gh/sebt3/d3-bootstrap@0.5.2/dist/d3-bootstrap-withextra.min.js"></script>


<!-- Add AJAX-->
<div id={{ visid }}></div>

<link rel="stylesheet" type="text/css" href="{{ ldavis_css_url }}">
<script type="text/javascript">



var {{ visid_raw }}_data = {{ vis_json }};
var relevantDocumentsDict = {{relevantDocumentsDict|safe}};
var type_vis = {{type_vis}}
var topic_order = {{topic_order}}
var jsonData = {{vis_json}}




//console.log("AFTER MERGE, ESTE ES EL JSON DATA QUE LLEGA", jsonData)

if(type_vis == 1){
  var new_circle_positions = {{new_circle_positions}} 

}
if(type_vis == 2){
  

  var matrix_sankey = {{matrix_sankey}}
  var relevantDocumentsDict_2 = {{relevantDocumentsDict_2|safe}}
  var jsonData_2 = {{vis_json_2|safe}}
  var topic_order_2 = {{topic_order_2}}
}



//var matrix_sankey_2 = {{matrix_sankey_2}};
//console.log("matrix sankey", matrix_sankey)


//console.log("categories", categories_row)
//console.log("matrix_heatmap", matrix_heatmap)

</script>



<div class="container-fluid">


  <div class="row">
    <div class="col-8" id="LDAvisContainer"> <!--Change by LDAvisContainer--></div>
    <div class="col-4 float-right" id="relevantDocumentPanel" >
        <table  class="tableRelevantDocumentsClass_Model1 table table-hover ">
            <thead>
            <tr>
                <th class="text-center" data-field="topic_perc_contrib" scope="col">Contribution</th>
                <th class="text-center" data-field="text" scope="col">Tweet</th>
            </tr>
            </thead>
        </table>    
        <!--Table for model 2 - scenario 2-->
        <script>

          if(type_vis == 2){
            var html = '<table  class="tableRelevantDocumentsClass_Model2 table table-hover "> <thead> <tr> <th class="text-center" data-field="topic_perc_contrib" scope="col">Contribution</th> <th class="text-center" data-field="text" scope="col">Tweet</th> </tr> </thead> </table>';

            document.write(html)

              
          }
        </script>
        


    </div>
  </div>
</div>



<script>
  function LDAvis_load_lib(url, callback){
    var s = document.createElement('script');
    s.src = url;
    s.async = true;
    s.onreadystatechange = s.onload = callback;
    s.onerror = function(){console.warn("failed to load library " + url);};
    document.getElementsByTagName("head")[0].appendChild(s);
    
  }

  if(typeof(LDAvis) !== "undefined"){
     // already loaded: just create the visualization
     
     !function(LDAvis){
         new LDAvis("#" + {{ visid }}, {{ visid_raw }}_data);

     }(LDAvis);
  }else if(typeof define === "function" && define.amd){
     
     // require.js is available: use it to load d3/LDAvis
     require.config({paths: {d3: "{{ d3_url[:-3] }}"}});
     require(["d3"], function(d3){
        window.d3 = d3;
        LDAvis_load_lib("{{ ldavis_url }}", function(){
          new LDAvis("#" + {{ visid }}, {{ visid_raw }}_data);
        });
      });
  }else{
      // require.js not available: dynamically load d3 & LDAvis
     
      LDAvis_load_lib("{{ d3_url }}", function(){
           LDAvis_load_lib("{{ ldavis_url }}", function(){
                   new LDAvis("#LDAvisContainer", {{ visid_raw }}_data); //"#" + {{ visid }} 
              })
           });
  }
</script>





<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

