<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>




<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
<link rel="stylesheet" type="text/css" href="{{ ldavis_css_url }}">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<h1>TopicVisExplorer -FUNCIONA?</h1>


<svg id="the-svg" class="the-svg">
  <text x="50" y="50" id="the-text" font-size="30">testing rotated text box points</text>
</svg>

<svg id="the-svg" class="the-svg">
  <text x="50" y="150" id="the-text" font-size="30">testing rotated text box points</text>
</svg>


<svg id="relevantDocumentPanelPrueba">

<text id="the-text"> probando este texto </text>
</svg>
<div id={{ visid }}></div>
<script type="text/javascript">

var {{ visid_raw }}_data = {{ vis_json }};

var relevantDocumentsDict = {{relevantDocumentsDict|safe}};
var topic_order = {{topic_order}}
var jsonData = {{vis_json}}




</script>

<div class="container-fluid">
  <div class="row">
    <div class="w-90 p-2"id="LDAvisContainer"> <!--Change by LDAvisContainer-->
    </div>
    <div class="w-10 p-3">
      <div class="col" id="relevantDocuments"> <!--    <div class="relevantDocuments">-->
        <table  class="tableRelevantDocumentsClass">
            <thead>
            <tr>
                <th data-field="topic_perc_contrib" scope="col">% </th>
                <th data-field="text" scope="col">Text</th>
            </tr>
            </thead>
        </table>    
      </div>      
    </div>
  </div>
</div>

<script>
  function LDAvis_load_lib(url, callback){
    var s = document.createElement('script');
    s.src = url;
    s.async = true;
    s.onreadystatechange = s.onload = callback;
    s.onerror = function(){console.warn("failed to load library " + url);};
    document.getElementsByTagName("head")[0].appendChild(s);
    
  }

  if(typeof(LDAvis) !== "undefined"){
     // already loaded: just create the visualization
     
     !function(LDAvis){
         new LDAvis("#" + {{ visid }}, {{ visid_raw }}_data);

     }(LDAvis);
  }else if(typeof define === "function" && define.amd){
     
     // require.js is available: use it to load d3/LDAvis
     require.config({paths: {d3: "{{ d3_url[:-3] }}"}});
     require(["d3"], function(d3){
        window.d3 = d3;
        LDAvis_load_lib("{{ ldavis_url }}", function(){
          new LDAvis("#" + {{ visid }}, {{ visid_raw }}_data);
        });
      });
  }else{
      // require.js not available: dynamically load d3 & LDAvis
     
      LDAvis_load_lib("{{ d3_url }}", function(){
           LDAvis_load_lib("{{ ldavis_url }}", function(){
                   new LDAvis("#" + {{ visid }}, {{ visid_raw }}_data); //VISID shoudl be de div svg "#" + {{ visid }} "#" + {{ visid }} #LDAvisContainer"
              })
           });
  }
</script>





<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>